<form id="form1" action="">
    <div class="input-field col s12 l6">
        <input type="text" id="username" class="validate" onkeyup="validate('username')">
        <label for="username">Super Admin Username</label>
    </div>
    <div class="input-field col s12 l6">
        <input type="password" id="password" class="validate" onkeyup="validate('password')">
        <label for="password">Super Admin Password</label>
    </div>
    <div class="input-field col s12">
        <input type="password" id="repassword" class="validate" onkeyup="validate('repassword')">
        <label for="repassword" data-error="wrong" data-success="right">Re-Type Password</label>
    </div>
    <div class="input-field col s12">
        <input type="email" id="email" class="validate" onkeyup="validate('email')">
        <label for="email" data-error="wrong" data-success="right">Email</label>
    </div>
</form>