<div class="input-field col s12 l6">
    <input type="text" id="db_address" class="validate" onkeyup="generalValidate('db_address',4)">
    <label for="db_address">Database Address</label>
</div>

<div class="input-field col s12 l6">
    <input type="text" id="db_username" class="validate" onkeyup="generalValidate('db_username',5)">
    <label for="db_username">Database Username</label>
</div>

<div class="input-field col s12 l6">
    <input type="password" id="db_password" class="validate" onkeyup="generalValidate('db_password',5)">
    <label for="db_password">Database Password</label>
</div>
<h6 class="red-text">Just MySQL Database Supported!</h6>
<br>
<p>
    <input type="checkbox" id="encrypttion_confirm" onchange="validate('encryption')" />
    <label for="encrypttion_confirm">Encrypt Source</label>
</p>

<div class="input-field col s12 l6">
    <input type="password" id="encrypt_pass" class="validate" onkeyup="generalValidate('encrypt_pass',8)" disabled>
    <label for="encrypt_pass">Encrypt Password</label>
</div>